<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>

      .hidden{
        display: none;
      }

      .healthy{
        color: green;
      }

      .unhealthy{
        color: red;
      }
      .brand-logo{
        padding-left: 20px !important;
      }
      nav{
        background-color: #ff6600;
      }
      html{
        background-color: #f9fcff;
      }

      .indicator{
        width: 100%;
        text-align: center;
        font-size: 55px;
      }
      .block{
        display: inline-block;
        width: 4%;
        height: 5px;
      }

      .block.healthy{
        background-color: green;
      }

      .block.unhealthy{
        background-color: red;
      }

    </style>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Health Monitor</a>
        </div>
      </nav>
    </div>
    <div class='container'>
      <div id='widget-area' class='row'>

      </div>
    </div>
    <script>
      function Widget(id, name){
        this.id = id;
        this.name = name;
        this.health = false;
        this.lastUpdate = 'no updated'
        this.statusses = []

        this.poll = function(){
          var url = '/app/' + this.id
          $.get(url, function(data){
            dashboard.updateWidget(data)
          })
        }

        this.update = function(status){
          this.statusses.push(status.health)
          this.lastUpdate = status.last_ping

          if(this.statusses.length == 25){
            this.statusses.shift()
          }
          this.health = this.statusses[this.statusses.length -1]
          html = this.html()
          tile = document.getElementById('widget-' + this.id)
          if(tile != null){
            $(tile).replaceWith(html)
          }else{
            holder = document.getElementById('widget-area')
            holder.innerHTML += html
          }
        };

        this.html = function(){
          if(this.health){
            var colorClass = 'healthy'
            var iconText = 'mood'
          }else{
            var colorClass = 'unhealthy'
            var iconText = 'mood_bad'
          }
          var blocks = ''

          for(var i = 0; i < this.statusses.length; i++){
            if(this.statusses[i] == true){
              var blockColorClass = 'healthy'
            }else{
              var blockColorClass = 'unhealthy'
            }
            blocks += '<div class="block '+blockColorClass+'"></div>'
          }

          var icon = '<i class="material-icons indicator '+ colorClass +'">'+iconText+'</i>'
          var name = '<div class="card-title">'+this.name+'</div>'
          var blockHolder = '<div>'+blocks+'</div>'
          var lastUpdate = '<div>Last signal: '+this.lastUpdate+'</div>'
          var cardContent = '<div class="card-content">'+name+icon+blockHolder+lastUpdate+'</div>'
          var card = '<div class="card">'+cardContent+'</div>'
          var holder = '<div id="widget-'+this.id+'" class="col s4 widget">'+card+'</div>'

          return holder
        }
      }

      function Dashboard(){
        var widgets = []
        this.loop = function(){
          dashboard.discoverWidgets()
          for(var i = 0; i < widgets.length; i++){
              widgets[i].poll()
          }
          window.setTimeout(dashboard.loop, 1000)
        }
        this.createWidget = function(data){
          if(this.getWidget(data.id) == undefined){
            widget = new Widget(data.id, data.name)
            widgets.push(widget)
          }
        }
        this.getWidget = function(id){
          widget = $.grep(widgets, function(w){
            return w.id == id
          })
          return widget[0]
        }
        this.updateWidget = function(data) {
          widget = this.getWidget(data.id)
          widget.update(data.status)
        }
        this.discoverWidgets = function(){
          $.get('/apps', function(data){
            for(var i = 0 ; i < data.length ; i++){
              dashboard.createWidget(data[i])
            }
          })
        }
        this.discoverWidgets()
      };
      var dashboard = new Dashboard();
      dashboard.loop();
    </script>
  </body>
</html>
